<h1><%= @topic.title %> </h1>

<br><br><br><br>
<h2>
 <ul>
    <% if @topic.materials.present? %>
    <% @topic.materials.each do |material| %>
        <li>Material: <%= link_to material.title, material %></li>
        <li>Author: <%= link_to material.author, material %></li>
        <% end %>
    <% end %>

</ul>



</h2>

