<h1>New philosopher</h1>
<br><br><br><br>
<body class="universal">

<div class="form">
<%= form_for(@philosopher, :html => {:multipart => true}) do |f|%>
    <%= f.label "Philosopher name:", :for => "email", :class => "form__label"   %>
    <%= f.text_field :title, :required => true, :id => "email", :class => "form__input", :type => "text"  %>
</div>



<h5 class="form">
    <%= f.submit %>
</h5>

    <% end %>

</body>