<h1>Show coming soon...</h1>

<%= @material.author %>
<%= link_to "#{@material.title}", @material.link %>

 <!--cl_image_tag(@material.image)-->

 <div class = "controls">
    <%= link_to 'Add new material', new_material_path(@material) %>
    
</div>

